
*.zip
loyalwingmen/models/best_model.zip
loyalwingmen/models/rl_model_1000000_steps.zip
loyalwingmen/models/rl_model_100000_steps.zip
loyalwingmen/logs/0/first_run_1/events.out.tfevents.1682879691.Davi-PC.29196.0
loyalwingmen/logs/0/first_run_2/events.out.tfevents.1682890719.Davi-PC.29072.0
loyalwingmen/logs/evaluations.npz
loyalwingmen/models/best_model.zip
loyalwingmen/models/rl_model_100000_steps.zip
loyalwingmen/models/rl_model_200000_steps.zip
loyalwingmen/models/rl_model_300000_steps.zip
loyalwingmen/models/rl_model_400000_steps.zip
*.xlsx
*.0
*.pyc
*.npz
*.zip
*.pyc
*.xlsx
*.pyc
*.pyc
*.1
*.2
*.npz
*.zip
*.zip
*.zip
*.pyc
*.pyc
*.pyc
*.pyc
loyalwingmen/logs/evaluations.npz
loyalwingmen/models/best_model.zip
loyalwingmen/models/rl_model_100000_steps.zip
loyalwingmen/models/rl_model_200000_steps.zip
loyalwingmen/models/rl_model_300000_steps.zip
loyalwingmen/models/rl_model_400000_steps.zip
loyalwingmen/models/rl_model_500000_steps.zip
loyalwingmen/utils/__pycache__/displaytext.cpython-311.pyc
loyalwingmen/utils/factories/__pycache__/agent_factory.cpython-311.pyc
loyalwingmen/utils/managers/__pycache__/agent_manager.cpython-311.pyc
*.10
*.11
*.12
*.13
*.14
*.16
*.17
*.15
*.19
*.18
*.20
*.21
*.22
*.24
*.23
*.23
*.25
*.25
*.27
*.26
*.28
*.31
*.32
*.33
*.34
*.34
*.36
*.36
*.37
*.37
*.38
*.38
*.39
*.39
*.4
*.4
*.40
*.41
*.41
*.42
*.29
loyalwingmen/logs/29/first_run_1/events.out.tfevents.1684251134.Davi-PC.11184.29
loyalwingmen/logs/3/first_run_1/events.out.tfevents.1684074217.Davi-PC.32728.3
loyalwingmen/logs/3/first_run_2/events.out.tfevents.1684117114.Davi-PC.31804.3
loyalwingmen/logs/3/first_run_3/events.out.tfevents.1684151070.Davi-PC.11184.3
loyalwingmen/logs/30/first_run_1/events.out.tfevents.1684254521.Davi-PC.11184.30
loyalwingmen/logs/35/first_run_1/events.out.tfevents.1684273476.Davi-PC.11184.35
loyalwingmen/logs/43/first_run_1/events.out.tfevents.1684304839.Davi-PC.11184.43
loyalwingmen/logs/44/first_run_1/events.out.tfevents.1684308727.Davi-PC.11184.44
loyalwingmen/logs/45/first_run_1/events.out.tfevents.1684312269.Davi-PC.11184.45
loyalwingmen/logs/5/first_run_1/events.out.tfevents.1684076108.Davi-PC.32728.5
loyalwingmen/logs/5/first_run_2/events.out.tfevents.1684124810.Davi-PC.31804.5
loyalwingmen/logs/5/first_run_3/events.out.tfevents.1684159284.Davi-PC.11184.5
loyalwingmen/logs/6/first_run_1/events.out.tfevents.1684077068.Davi-PC.32728.6
loyalwingmen/logs/6/first_run_2/events.out.tfevents.1684128636.Davi-PC.31804.6
loyalwingmen/logs/6/first_run_3/events.out.tfevents.1684163453.Davi-PC.11184.6
loyalwingmen/logs/7/first_run_1/events.out.tfevents.1684078128.Davi-PC.32728.7
loyalwingmen/logs/7/first_run_2/events.out.tfevents.1684132222.Davi-PC.31804.7
loyalwingmen/logs/7/first_run_3/events.out.tfevents.1684169079.Davi-PC.11184.7
loyalwingmen/logs/8/first_run_1/events.out.tfevents.1684079317.Davi-PC.32728.8
loyalwingmen/logs/8/first_run_2/events.out.tfevents.1684135845.Davi-PC.31804.8
loyalwingmen/logs/8/first_run_3/events.out.tfevents.1684172591.Davi-PC.11184.8
loyalwingmen/logs/9/first_run_1/events.out.tfevents.1684080332.Davi-PC.32728.9
loyalwingmen/logs/9/first_run_2/events.out.tfevents.1684175918.Davi-PC.11184.9
loyalwingmen/logs/evaluations.npz
*.pyc
*.pyc
*.npz
*.pyc
*.pyc
*.pyc
*.npz
loyalwingmen/outcome/*
loyalwingmen/apps/logs/9/first_run_1/events.out.tfevents.1685903742.Davi-PC.9108.9
loyalwingmen/apps/logs/8/first_run_1/events.out.tfevents.1685903300.Davi-PC.9108.8
loyalwingmen/apps/logs/7/first_run_1/events.out.tfevents.1685902835.Davi-PC.9108.7
loyalwingmen/apps/logs/6/first_run_1/events.out.tfevents.1685902373.Davi-PC.9108.6
loyalwingmen/apps/logs/5/first_run_1/events.out.tfevents.1685901910.Davi-PC.9108.5
loyalwingmen/apps/logs/3/first_run_1/events.out.tfevents.1685900985.Davi-PC.9108.3
loyalwingmen/apps/logs/my_first_env/PPO_23/events.out.tfevents.1689595729.Davi-PC.41312.3
loyalwingmen/apps/logs/my_first_env/PPO_28/events.out.tfevents.1689614430.Davi-PC.35748.3
loyalwingmen/apps/logs/my_first_env/PPO_30/events.out.tfevents.1689626828.Davi-PC.35748.5
loyalwingmen/apps/logs/my_first_env/PPO_31/events.out.tfevents.1689630594.Davi-PC.35748.6
loyalwingmen/apps/logs/my_first_env/PPO_32/events.out.tfevents.1689636603.Davi-PC.35748.7
loyalwingmen/apps/logs/my_first_env/PPO_36/events.out.tfevents.1689649202.Davi-PC.25396.3
loyalwingmen/apps/logs/my_first_env/PPO_42/events.out.tfevents.1689682069.Davi-PC.24804.3
loyalwingmen/apps/logs/my_first_env/PPO_44/events.out.tfevents.1689690759.Davi-PC.24804.5
loyalwingmen/apps/logs/my_first_env/PPO_45/events.out.tfevents.1689694416.Davi-PC.24804.6
loyalwingmen/apps/logs/my_first_env/PPO_46/events.out.tfevents.1689698700.Davi-PC.24804.7
loyalwingmen/apps/logs/my_first_env/PPO_63/events.out.tfevents.1689710738.Davi-PC.26948.3
loyalwingmen/apps/logs/my_first_env/PPO_65/events.out.tfevents.1689711033.Davi-PC.26948.5
loyalwingmen/apps/logs/my_first_env/PPO_69/events.out.tfevents.1689725526.Davi-PC.43260.3
loyalwingmen/apps/logs/my_first_env/PPO_71/events.out.tfevents.1689733497.Davi-PC.43260.5
loyalwingmen/apps/logs/my_first_env/PPO_72/events.out.tfevents.1689738808.Davi-PC.43260.6
loyalwingmen/apps/logs/my_first_env/PPO_73/events.out.tfevents.1689745579.Davi-PC.43260.7
loyalwingmen/apps/logs/my_first_env/PPO_74/events.out.tfevents.1689748204.Davi-PC.43260.8
loyalwingmen/apps/logs/my_first_env/PPO_75/events.out.tfevents.1689761454.Davi-PC.43260.9
loyalwingmen/apps/Source.gv.pdf
loyalwingmen/apps/Source.gv
loyalwingmen/apps/logs/my_first_env/PPO_87/events.out.tfevents.1689818999.Davi-PC.22028.9
loyalwingmen/apps/logs/my_first_env/PPO_86/events.out.tfevents.1689808131.Davi-PC.22028.8
loyalwingmen/apps/logs/my_first_env/PPO_85/events.out.tfevents.1689806113.Davi-PC.22028.7
loyalwingmen/apps/logs/my_first_env/PPO_84/events.out.tfevents.1689802641.Davi-PC.22028.6
loyalwingmen/apps/logs/my_first_env/PPO_83/events.out.tfevents.1689795589.Davi-PC.22028.5
loyalwingmen/apps/logs/my_first_env/PPO_81/events.out.tfevents.1689786918.Davi-PC.22028.3
loyalwingmen/apps/logs/my_first_env/PPO_168/events.out.tfevents.1690116094.Davi-PC.22028.90
loyalwingmen/apps/logs/my_first_env/PPO_167/events.out.tfevents.1690112208.Davi-PC.22028.89
loyalwingmen/apps/logs/my_first_env/PPO_166/events.out.tfevents.1690109942.Davi-PC.22028.88
loyalwingmen/apps/logs/my_first_env/PPO_165/events.out.tfevents.1690107625.Davi-PC.22028.87
loyalwingmen/apps/logs/my_first_env/PPO_164/events.out.tfevents.1690103971.Davi-PC.22028.86
loyalwingmen/apps/logs/my_first_env/PPO_163/events.out.tfevents.1690101719.Davi-PC.22028.85
loyalwingmen/apps/logs/my_first_env/PPO_162/events.out.tfevents.1690099533.Davi-PC.22028.84
loyalwingmen/apps/logs/my_first_env/PPO_161/events.out.tfevents.1690097480.Davi-PC.22028.83
loyalwingmen/apps/logs/my_first_env/PPO_160/events.out.tfevents.1690095424.Davi-PC.22028.82
loyalwingmen/apps/logs/my_first_env/PPO_159/events.out.tfevents.1690093237.Davi-PC.22028.81
loyalwingmen/apps/logs/my_first_env/PPO_158/events.out.tfevents.1690091076.Davi-PC.22028.80
loyalwingmen/apps/logs/my_first_env/PPO_157/events.out.tfevents.1690089024.Davi-PC.22028.79
loyalwingmen/apps/logs/my_first_env/PPO_156/events.out.tfevents.1690087064.Davi-PC.22028.78
loyalwingmen/apps/logs/my_first_env/PPO_155/events.out.tfevents.1690084533.Davi-PC.22028.77
loyalwingmen/apps/logs/my_first_env/PPO_154/events.out.tfevents.1690082266.Davi-PC.22028.76
loyalwingmen/apps/logs/my_first_env/PPO_153/events.out.tfevents.1690080338.Davi-PC.22028.75
loyalwingmen/apps/logs/my_first_env/PPO_152/events.out.tfevents.1690078151.Davi-PC.22028.74
loyalwingmen/apps/logs/my_first_env/PPO_151/events.out.tfevents.1690076359.Davi-PC.22028.73
loyalwingmen/apps/logs/my_first_env/PPO_150/events.out.tfevents.1690074483.Davi-PC.22028.72
loyalwingmen/apps/logs/my_first_env/PPO_149/events.out.tfevents.1690072633.Davi-PC.22028.71
loyalwingmen/apps/logs/my_first_env/PPO_148/events.out.tfevents.1690070743.Davi-PC.22028.70
loyalwingmen/apps/logs/my_first_env/PPO_147/events.out.tfevents.1690068688.Davi-PC.22028.69
loyalwingmen/apps/logs/my_first_env/PPO_146/events.out.tfevents.1690066282.Davi-PC.22028.68
loyalwingmen/apps/logs/my_first_env/PPO_145/events.out.tfevents.1690063906.Davi-PC.22028.67
loyalwingmen/apps/logs/my_first_env/PPO_144/events.out.tfevents.1690061212.Davi-PC.22028.66
loyalwingmen/apps/logs/my_first_env/PPO_143/events.out.tfevents.1690058533.Davi-PC.22028.65
loyalwingmen/apps/logs/my_first_env/PPO_142/events.out.tfevents.1690056136.Davi-PC.22028.64
loyalwingmen/apps/logs/my_first_env/PPO_141/events.out.tfevents.1690053956.Davi-PC.22028.63
loyalwingmen/apps/logs/my_first_env/PPO_140/events.out.tfevents.1690051448.Davi-PC.22028.62
loyalwingmen/apps/logs/my_first_env/PPO_139/events.out.tfevents.1690048974.Davi-PC.22028.61
loyalwingmen/apps/logs/my_first_env/PPO_138/events.out.tfevents.1690045307.Davi-PC.22028.60
loyalwingmen/apps/logs/my_first_env/PPO_137/events.out.tfevents.1690038780.Davi-PC.22028.59
loyalwingmen/apps/logs/my_first_env/PPO_136/events.out.tfevents.1690034709.Davi-PC.22028.58
loyalwingmen/apps/logs/my_first_env/PPO_135/events.out.tfevents.1690030056.Davi-PC.22028.57
loyalwingmen/apps/logs/my_first_env/PPO_134/events.out.tfevents.1690026159.Davi-PC.22028.56
loyalwingmen/apps/logs/my_first_env/PPO_133/events.out.tfevents.1690020375.Davi-PC.22028.55
loyalwingmen/apps/logs/my_first_env/PPO_132/events.out.tfevents.1690017586.Davi-PC.22028.54
loyalwingmen/apps/logs/my_first_env/PPO_131/events.out.tfevents.1690011537.Davi-PC.22028.53
loyalwingmen/apps/logs/my_first_env/PPO_130/events.out.tfevents.1690005815.Davi-PC.22028.52
loyalwingmen/apps/logs/my_first_env/PPO_129/events.out.tfevents.1690000756.Davi-PC.22028.51
loyalwingmen/apps/logs/my_first_env/PPO_128/events.out.tfevents.1689996344.Davi-PC.22028.50
loyalwingmen/apps/logs/my_first_env/PPO_127/events.out.tfevents.1689992404.Davi-PC.22028.49
loyalwingmen/apps/logs/my_first_env/PPO_126/events.out.tfevents.1689989653.Davi-PC.22028.48
loyalwingmen/apps/logs/my_first_env/PPO_125/events.out.tfevents.1689983467.Davi-PC.22028.47
loyalwingmen/apps/logs/my_first_env/PPO_124/events.out.tfevents.1689977999.Davi-PC.22028.46
loyalwingmen/apps/logs/my_first_env/PPO_123/events.out.tfevents.1689971133.Davi-PC.22028.45
loyalwingmen/apps/logs/my_first_env/PPO_122/events.out.tfevents.1689965783.Davi-PC.22028.44
loyalwingmen/apps/logs/my_first_env/PPO_121/events.out.tfevents.1689959759.Davi-PC.22028.43
loyalwingmen/apps/logs/my_first_env/PPO_113/events.out.tfevents.1689924332.Davi-PC.22028.35
loyalwingmen/apps/logs/my_first_env/PPO_108/events.out.tfevents.1689902124.Davi-PC.22028.30
loyalwingmen/apps/logs/3/first_run_1/events.out.tfevents.1686054699.Davi-PC.12364.3
loyalwingmen/apps/logs/3/first_run_2/events.out.tfevents.1686068613.Davi-PC.9868.3
loyalwingmen/apps/logs/my_first_env/PPO_10/events.out.tfevents.1691123050.Davi-PC.22496.3
loyalwingmen/apps/logs/my_first_env/PPO_12/events.out.tfevents.1691131381.Davi-PC.22496.5
loyalwingmen/apps/logs/my_first_env/PPO_13/events.out.tfevents.1691135882.Davi-PC.22496.6
loyalwingmen/apps/logs/my_first_env/PPO_14/events.out.tfevents.1691139310.Davi-PC.22496.7
loyalwingmen/apps/logs/my_first_env/PPO_15/events.out.tfevents.1691142525.Davi-PC.22496.8
loyalwingmen/apps/logs/my_first_env/PPO_16/events.out.tfevents.1691146027.Davi-PC.22496.9
loyalwingmen/apps/logs/my_first_env/PPO_18/events.out.tfevents.1689565028.Davi-PC.19608.3
loyalwingmen/apps/logs/my_first_env/PPO_29/events.out.tfevents.1691199330.Davi-PC.36152.3
loyalwingmen/apps/logs/my_first_env/PPO_31/events.out.tfevents.1691209647.Davi-PC.36152.5
loyalwingmen/apps/logs/my_first_env/PPO_32/events.out.tfevents.1691214874.Davi-PC.36152.6
loyalwingmen/apps/logs/my_first_env/PPO_33/events.out.tfevents.1691218974.Davi-PC.36152.7
loyalwingmen/apps/logs/my_first_env/PPO_34/events.out.tfevents.1691223997.Davi-PC.36152.8
loyalwingmen/apps/logs/my_first_env/PPO_35/events.out.tfevents.1691230211.Davi-PC.36152.9
loyalwingmen/outputs/Optimizer_baysian_app/20230804_181154/optimizer.db
loyalwingmen/outputs/Optimizer_baysian_app/20230804_181449/optimizer.db
loyalwingmen/outputs/Optimizer_baysian_app/20230804_181938/optimizer.db
*.3
