
*.zip
loyalwingmen/models/best_model.zip
loyalwingmen/models/rl_model_1000000_steps.zip
loyalwingmen/models/rl_model_100000_steps.zip
loyalwingmen/logs/0/first_run_1/events.out.tfevents.1682879691.Davi-PC.29196.0
loyalwingmen/logs/0/first_run_2/events.out.tfevents.1682890719.Davi-PC.29072.0
loyalwingmen/logs/evaluations.npz
loyalwingmen/models/best_model.zip
loyalwingmen/models/rl_model_100000_steps.zip
loyalwingmen/models/rl_model_200000_steps.zip
loyalwingmen/models/rl_model_300000_steps.zip
loyalwingmen/models/rl_model_400000_steps.zip
*.xlsx
*.0
*.pyc
*.npz
*.zip
*.pyc
*.xlsx
*.pyc
*.pyc
*.1
*.2
*.npz
*.zip
*.zip
*.zip
*.pyc
*.pyc
*.pyc
*.pyc
loyalwingmen/logs/evaluations.npz
loyalwingmen/models/best_model.zip
loyalwingmen/models/rl_model_100000_steps.zip
loyalwingmen/models/rl_model_200000_steps.zip
loyalwingmen/models/rl_model_300000_steps.zip
loyalwingmen/models/rl_model_400000_steps.zip
loyalwingmen/models/rl_model_500000_steps.zip
loyalwingmen/utils/__pycache__/displaytext.cpython-311.pyc
loyalwingmen/utils/factories/__pycache__/agent_factory.cpython-311.pyc
loyalwingmen/utils/managers/__pycache__/agent_manager.cpython-311.pyc
*.10
*.11
*.12
*.13
*.14
*.16
*.17
*.15
*.19
*.18
*.20
*.21
*.22
*.24
*.23
*.23
*.25
*.25
*.27
*.26
*.28
*.31
*.32
*.33
*.34
*.34
*.36
*.36
*.37
*.37
*.38
*.38
*.39
*.39
*.4
*.4
*.40
*.41
*.41
*.42
*.29
loyalwingmen/logs/29/first_run_1/events.out.tfevents.1684251134.Davi-PC.11184.29
loyalwingmen/logs/3/first_run_1/events.out.tfevents.1684074217.Davi-PC.32728.3
loyalwingmen/logs/3/first_run_2/events.out.tfevents.1684117114.Davi-PC.31804.3
loyalwingmen/logs/3/first_run_3/events.out.tfevents.1684151070.Davi-PC.11184.3
loyalwingmen/logs/30/first_run_1/events.out.tfevents.1684254521.Davi-PC.11184.30
loyalwingmen/logs/35/first_run_1/events.out.tfevents.1684273476.Davi-PC.11184.35
loyalwingmen/logs/43/first_run_1/events.out.tfevents.1684304839.Davi-PC.11184.43
loyalwingmen/logs/44/first_run_1/events.out.tfevents.1684308727.Davi-PC.11184.44
loyalwingmen/logs/45/first_run_1/events.out.tfevents.1684312269.Davi-PC.11184.45
loyalwingmen/logs/5/first_run_1/events.out.tfevents.1684076108.Davi-PC.32728.5
loyalwingmen/logs/5/first_run_2/events.out.tfevents.1684124810.Davi-PC.31804.5
loyalwingmen/logs/5/first_run_3/events.out.tfevents.1684159284.Davi-PC.11184.5
loyalwingmen/logs/6/first_run_1/events.out.tfevents.1684077068.Davi-PC.32728.6
loyalwingmen/logs/6/first_run_2/events.out.tfevents.1684128636.Davi-PC.31804.6
loyalwingmen/logs/6/first_run_3/events.out.tfevents.1684163453.Davi-PC.11184.6
loyalwingmen/logs/7/first_run_1/events.out.tfevents.1684078128.Davi-PC.32728.7
loyalwingmen/logs/7/first_run_2/events.out.tfevents.1684132222.Davi-PC.31804.7
loyalwingmen/logs/7/first_run_3/events.out.tfevents.1684169079.Davi-PC.11184.7
loyalwingmen/logs/8/first_run_1/events.out.tfevents.1684079317.Davi-PC.32728.8
loyalwingmen/logs/8/first_run_2/events.out.tfevents.1684135845.Davi-PC.31804.8
loyalwingmen/logs/8/first_run_3/events.out.tfevents.1684172591.Davi-PC.11184.8
loyalwingmen/logs/9/first_run_1/events.out.tfevents.1684080332.Davi-PC.32728.9
loyalwingmen/logs/9/first_run_2/events.out.tfevents.1684175918.Davi-PC.11184.9
loyalwingmen/logs/evaluations.npz
*.pyc
*.pyc
*.npz
*.pyc
*.pyc
*.pyc
*.npz
loyalwingmen/outcome/*
loyalwingmen/apps/logs/9/first_run_1/events.out.tfevents.1685903742.Davi-PC.9108.9
loyalwingmen/apps/logs/8/first_run_1/events.out.tfevents.1685903300.Davi-PC.9108.8
loyalwingmen/apps/logs/7/first_run_1/events.out.tfevents.1685902835.Davi-PC.9108.7
loyalwingmen/apps/logs/6/first_run_1/events.out.tfevents.1685902373.Davi-PC.9108.6
loyalwingmen/apps/logs/5/first_run_1/events.out.tfevents.1685901910.Davi-PC.9108.5
loyalwingmen/apps/logs/3/first_run_1/events.out.tfevents.1685900985.Davi-PC.9108.3
loyalwingmen/apps/logs/3/first_run_1/events.out.tfevents.1685926134.Davi-PC.24604.3
loyalwingmen/apps/logs/3/first_run_2/events.out.tfevents.1686003824.Davi-PC.2320.3
loyalwingmen/apps/logs/3/first_run_3/events.out.tfevents.1686013592.Davi-PC.33424.3
loyalwingmen/apps/logs/3/first_run_4/events.out.tfevents.1686042590.Davi-PC.7676.3
loyalwingmen/apps/logs/3/first_run_5/events.out.tfevents.1686128240.Davi-PC.7996.3
loyalwingmen/apps/logs/30/first_run_1/events.out.tfevents.1685981262.Davi-PC.24604.30
loyalwingmen/apps/logs/30/first_run_2/events.out.tfevents.1686067911.Davi-PC.7676.30
loyalwingmen/apps/logs/30/first_run_3/events.out.tfevents.1686147747.Davi-PC.7996.30
loyalwingmen/apps/logs/35/first_run_1/events.out.tfevents.1685991842.Davi-PC.24604.35
loyalwingmen/apps/logs/35/first_run_2/events.out.tfevents.1686072457.Davi-PC.7676.35
loyalwingmen/apps/logs/35/first_run_3/events.out.tfevents.1686151291.Davi-PC.7996.35
loyalwingmen/apps/logs/43/first_run_1/events.out.tfevents.1686080214.Davi-PC.7676.43
loyalwingmen/apps/logs/43/first_run_2/events.out.tfevents.1686157050.Davi-PC.7996.43
loyalwingmen/apps/logs/44/first_run_1/events.out.tfevents.1686081165.Davi-PC.7676.44
loyalwingmen/apps/logs/44/first_run_2/events.out.tfevents.1686157784.Davi-PC.7996.44
loyalwingmen/apps/logs/45/first_run_1/events.out.tfevents.1686158506.Davi-PC.7996.45
loyalwingmen/apps/logs/46/first_run_1/events.out.tfevents.1686159219.Davi-PC.7996.46
loyalwingmen/apps/logs/47/first_run_1/events.out.tfevents.1686159962.Davi-PC.7996.47
loyalwingmen/apps/logs/48/first_run_1/events.out.tfevents.1686160664.Davi-PC.7996.48
loyalwingmen/apps/logs/49/first_run_1/events.out.tfevents.1686161392.Davi-PC.7996.49
loyalwingmen/apps/logs/5/first_run_1/events.out.tfevents.1685930139.Davi-PC.24604.5
loyalwingmen/apps/logs/5/first_run_2/events.out.tfevents.1686006689.Davi-PC.2320.5
loyalwingmen/apps/logs/5/first_run_3/events.out.tfevents.1686016295.Davi-PC.33424.5
loyalwingmen/apps/logs/5/first_run_4/events.out.tfevents.1686044552.Davi-PC.7676.5
loyalwingmen/apps/logs/5/first_run_5/events.out.tfevents.1686129649.Davi-PC.7996.5
loyalwingmen/apps/logs/50/first_run_1/events.out.tfevents.1686162104.Davi-PC.7996.50
loyalwingmen/apps/logs/51/first_run_1/events.out.tfevents.1686162817.Davi-PC.7996.51
loyalwingmen/apps/logs/52/first_run_1/events.out.tfevents.1686163553.Davi-PC.7996.52
loyalwingmen/apps/logs/53/first_run_1/events.out.tfevents.1686164251.Davi-PC.7996.53
loyalwingmen/apps/logs/54/first_run_1/events.out.tfevents.1686164995.Davi-PC.7996.54
loyalwingmen/apps/logs/55/first_run_1/events.out.tfevents.1686165692.Davi-PC.7996.55
loyalwingmen/apps/logs/56/first_run_1/events.out.tfevents.1686166383.Davi-PC.7996.56
loyalwingmen/apps/logs/57/first_run_1/events.out.tfevents.1686167067.Davi-PC.7996.57
loyalwingmen/apps/logs/58/first_run_1/events.out.tfevents.1686167754.Davi-PC.7996.58
loyalwingmen/apps/logs/59/first_run_1/events.out.tfevents.1686168502.Davi-PC.7996.59
loyalwingmen/apps/logs/6/first_run_1/events.out.tfevents.1685932346.Davi-PC.24604.6
loyalwingmen/apps/logs/6/first_run_2/events.out.tfevents.1686008071.Davi-PC.2320.6
loyalwingmen/apps/logs/6/first_run_3/events.out.tfevents.1686017595.Davi-PC.33424.6
loyalwingmen/apps/logs/6/first_run_4/events.out.tfevents.1686045442.Davi-PC.7676.6
loyalwingmen/apps/logs/6/first_run_5/events.out.tfevents.1686130373.Davi-PC.7996.6
loyalwingmen/apps/logs/60/first_run_1/events.out.tfevents.1686169192.Davi-PC.7996.60
loyalwingmen/apps/logs/61/first_run_1/events.out.tfevents.1686169905.Davi-PC.7996.61
loyalwingmen/apps/logs/62/first_run_1/events.out.tfevents.1686170593.Davi-PC.7996.62
loyalwingmen/apps/logs/63/first_run_1/events.out.tfevents.1686171351.Davi-PC.7996.63
loyalwingmen/apps/logs/64/first_run_1/events.out.tfevents.1686172066.Davi-PC.7996.64
loyalwingmen/apps/logs/65/first_run_1/events.out.tfevents.1686172786.Davi-PC.7996.65
loyalwingmen/apps/logs/66/first_run_1/events.out.tfevents.1686173512.Davi-PC.7996.66
loyalwingmen/apps/logs/67/first_run_1/events.out.tfevents.1686174221.Davi-PC.7996.67
loyalwingmen/apps/logs/68/first_run_1/events.out.tfevents.1686174976.Davi-PC.7996.68
loyalwingmen/apps/logs/69/first_run_1/events.out.tfevents.1686175727.Davi-PC.7996.69
loyalwingmen/apps/logs/7/first_run_1/events.out.tfevents.1685934310.Davi-PC.24604.7
loyalwingmen/apps/logs/7/first_run_2/events.out.tfevents.1686009476.Davi-PC.2320.7
loyalwingmen/apps/logs/7/first_run_3/events.out.tfevents.1686018844.Davi-PC.33424.7
loyalwingmen/apps/logs/7/first_run_4/events.out.tfevents.1686046416.Davi-PC.7676.7
loyalwingmen/apps/logs/7/first_run_5/events.out.tfevents.1686131114.Davi-PC.7996.7
loyalwingmen/apps/logs/70/first_run_1/events.out.tfevents.1686176422.Davi-PC.7996.70
loyalwingmen/apps/logs/71/first_run_1/events.out.tfevents.1686177113.Davi-PC.7996.71
loyalwingmen/apps/logs/72/first_run_1/events.out.tfevents.1686177829.Davi-PC.7996.72
loyalwingmen/apps/logs/73/first_run_1/events.out.tfevents.1686178590.Davi-PC.7996.73
loyalwingmen/apps/logs/74/first_run_1/events.out.tfevents.1686179275.Davi-PC.7996.74
loyalwingmen/apps/logs/75/first_run_1/events.out.tfevents.1686180028.Davi-PC.7996.75
loyalwingmen/apps/logs/76/first_run_1/events.out.tfevents.1686180800.Davi-PC.7996.76
loyalwingmen/apps/logs/77/first_run_1/events.out.tfevents.1686181488.Davi-PC.7996.77
loyalwingmen/apps/logs/78/first_run_1/events.out.tfevents.1686182198.Davi-PC.7996.78
loyalwingmen/apps/logs/79/first_run_1/events.out.tfevents.1686182937.Davi-PC.7996.79
loyalwingmen/apps/logs/8/first_run_1/events.out.tfevents.1685936542.Davi-PC.24604.8
loyalwingmen/apps/logs/8/first_run_2/events.out.tfevents.1686020139.Davi-PC.33424.8
loyalwingmen/apps/logs/8/first_run_3/events.out.tfevents.1686047401.Davi-PC.7676.8
loyalwingmen/apps/logs/8/first_run_4/events.out.tfevents.1686131843.Davi-PC.7996.8
loyalwingmen/apps/logs/80/first_run_1/events.out.tfevents.1686183658.Davi-PC.7996.80
loyalwingmen/apps/logs/81/first_run_1/events.out.tfevents.1686184368.Davi-PC.7996.81
loyalwingmen/apps/logs/82/first_run_1/events.out.tfevents.1686185066.Davi-PC.7996.82
loyalwingmen/apps/logs/83/first_run_1/events.out.tfevents.1686185793.Davi-PC.7996.83
loyalwingmen/apps/logs/84/first_run_1/events.out.tfevents.1686186502.Davi-PC.7996.84
loyalwingmen/apps/logs/85/first_run_1/events.out.tfevents.1686187256.Davi-PC.7996.85
loyalwingmen/apps/logs/86/first_run_1/events.out.tfevents.1686187970.Davi-PC.7996.86
loyalwingmen/apps/logs/87/first_run_1/events.out.tfevents.1686188685.Davi-PC.7996.87
loyalwingmen/apps/logs/88/first_run_1/events.out.tfevents.1686189450.Davi-PC.7996.88
loyalwingmen/apps/logs/89/first_run_1/events.out.tfevents.1686190235.Davi-PC.7996.89
loyalwingmen/apps/logs/9/first_run_1/events.out.tfevents.1685938530.Davi-PC.24604.9
loyalwingmen/apps/logs/9/first_run_2/events.out.tfevents.1686021469.Davi-PC.33424.9
loyalwingmen/apps/logs/9/first_run_3/events.out.tfevents.1686048345.Davi-PC.7676.9
loyalwingmen/apps/logs/9/first_run_4/events.out.tfevents.1686132549.Davi-PC.7996.9
loyalwingmen/apps/logs/90/first_run_1/events.out.tfevents.1686190938.Davi-PC.7996.90
loyalwingmen/apps/logs/91/first_run_1/events.out.tfevents.1686191641.Davi-PC.7996.91
loyalwingmen/apps/logs/92/first_run_1/events.out.tfevents.1686192338.Davi-PC.7996.92
loyalwingmen/apps/logs/93/first_run_1/events.out.tfevents.1686193032.Davi-PC.7996.93
loyalwingmen/apps/logs/94/first_run_1/events.out.tfevents.1686193782.Davi-PC.7996.94
loyalwingmen/apps/logs/95/first_run_1/events.out.tfevents.1686194496.Davi-PC.7996.95
loyalwingmen/apps/logs/96/first_run_1/events.out.tfevents.1686195219.Davi-PC.7996.96
loyalwingmen/apps/logs/97/first_run_1/events.out.tfevents.1686195913.Davi-PC.7996.97
loyalwingmen/apps/logs/98/first_run_1/events.out.tfevents.1686196658.Davi-PC.7996.98
loyalwingmen/apps/logs/99/first_run_1/events.out.tfevents.1686197424.Davi-PC.7996.99
